p.seven{
    color: #2c0b0e;

}

div.row{
    color: #e03040;
}

p.zz{


}

p.kk{
    color: #0a53be;
}


p.kk{
    color: #6f42c1;
}
p.kk{
    color: #8b7800;
}


.progress-bar{
    .skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #4668a2;
}
}